---
const { name } = Astro.props;
---

<div
    class="flex items-center w-10 overflow-x-hidden relative hover:w-32 hover:bg-primary-300 transition-all ease-in-out bg-slate-50 p-2 rounded"
>
    <slot />
    <span class="cursor-default absolute left-12 font-medium text-secondary-900"
        >{name}</span
    >
</div>
