---
import BoltIcon from "@/components/icons/BoltIcon.astro";

interface Props {
    date: string;
    location: string;
    course: string;
    isLast: boolean;
}

const { date, location, course, isLast } = Astro.props;
---

<div class="grid grid-cols-5 space-x-6 text-secondary-900">
    <div class="flex items-center col-span-2">
        <div class="relative">
            <BoltIcon fill="fill-secondary-900" />
            {
                !isLast && (
                    <div class="absolute top-full left-1/2 -translate-x-1/2 w-1 h-9 border-l border-secondary-900 opacity-50" />
                )
            }
        </div>
        <h3 class="text-sm lg:text-xl xl:text-2xl font-display text-nowrap">
            {date}
        </h3>
    </div>
    <div class="col-span-3">
        <p class="text-sm lg:text-lg truncate">{location}</p>
        <p class="text-xs">
            {course}
        </p>
    </div>
</div>
