---
const { text } = Astro.props;
---

<div
    class="pl-2 md:pl-0 rounded bg-neutral-900/30 border border-neutral-800 transition-all hover:border-primary-300 hover:shadow-xl shadow-primary-300/20 text-slate-50 py-2 flex space-x-4 md:space-x-0 md:flex-col items-center"
>
    <div class="size-16 flex items-center justify-center">
        <slot />
    </div>
    <p class="text-sm lg:pt-1 mb-1">{text}</p>
</div>
