---
import SkillPill from "./SkillPill.astro";

interface Props {
    title: string;
    description: string;
    skills: string[];
}

const { title, description, skills } = Astro.props;
---

<div
    class="w-full bg-gray-300/10 hover:bg-primary-300/10 hover:translate-y-1 hover:scale-[101%] border border-gray-500/30 hover:border-primary-300 p-8 shadow-xl hover:shadow-primary-300/20 transition-all ease-out"
>
    <div class="flex items-center">
        <div>
            <h2 class="text-4xl font-display text-white pb-8">
                {title}
            </h2>
            <p class="text-gray-400 pb-8">
                {description}
            </p>
            <div>
                <div class="flex gap-2 flex-wrap">
                    {skills.map((skill) => <SkillPill text={skill} />)}
                </div>
            </div>
        </div>
    </div>
</div>
